Tough.ai News Curation Engine.json
{
  "name": "Tough.ai News Curation Engine",
  "nodes": [
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "id": "df97e261-726e-4b72-9350-3f990e27fbdc",
      "name": "Hacker News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const sortedItems = items.sort((a, b) => new Date(b.json.isoDate) - new Date(a.json.isoDate));\nreturn sortedItems.slice(0, 3);"
      },
      "id": "92785aaf-521d-4b2e-8b2c-bb1f342fdcf5",
      "name": "Top 3 Fresh Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "af259c72-b12c-4261-9505-6e9c50da6dbd",
      "name": "Scrape Webpage Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:14b"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            },
            {
              "name": "prompt",
              "value": "={{ \"System Instructions: You are the backend intelligence agent for tough.ai. Your objective is to extract practical execution metrics from the provided raw web page text. CRITICAL FILTERING CONSTRAINTS: 1. Completely IGNORE macroeconomics, corporate funding rounds, legal updates, philosophical debates, and generic hype announcements. 2. EXCLUSIVELY focus on technical assets: novel API integrations, functional automation use-cases (n8n/Make), GitHub code repositories, terminal CLI utilities, or local LLM acceleration frameworks. 3. If the article contains absolutely no actionable tool or engineering workflow snippet for a full-stack web developer or automated business owner, reply with exactly one word: SKIP. IF THE ARTICLE PASSES THE FILTER, output exactly this Markdown syntax structure: ### 📢 [Create a highly compelling, developer-centric title] **⚡ The Core Tech:** [1 concise sentence defining exactly what was released, built, or updated] **🛠️ Tactical Value:** [Why a MERN-stack developer or modern entrepreneur needs to use this immediately] **💡 Content Hook Idea:** *Hook:* [High engagement initial line for LinkedIn/X] *Core Insight:* [The contrarian or practical opinion] *Call To Action:* [A deep technical question to drive comment velocity] Raw Article Text Data to Analyze: \" + $json.data.slice(0, 3500) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        0
      ],
      "id": "1a811770-6315-4e4d-81d7-f3380d7aaa92",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c643b7e1-e930-4977-acdc-befe3e48dc7b",
              "leftValue": "={{ $json.response }}",
              "rightValue": "SKIP",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        0
      ],
      "id": "90f1ea68-bf89-43a6-813c-58003caf7093",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "6229512274",
        "text": "={{ $json.response }}\n\nLink: {{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        -96
      ],
      "id": "59e9fe37-21be-446e-84df-798d413abaf5",
      "name": "Send a text message",
      "webhookId": "49ff6969-8b77-46f7-a3d9-2a0da7efb1e7",
      "credentials": {
        "telegramApi": {
          "id": "QM0nh0GeAkjQE5sQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "5b12747b-931a-47ea-931b-88e1cd1d3da1",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Hacker News RSS": {
      "main": [
        [
          {
            "node": "Top 3 Fresh Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 3 Fresh Articles": {
      "main": [
        [
          {
            "node": "Scrape Webpage Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Webpage Text": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Hacker News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "252ee638-b66e-4b90-a895-d7c6f3a7214e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91638c62646d8635a3fd41f4930c0f952724d1710ad32e9375b65a2ecba4d010"
  },
  "id": "7mYu45M4zHn16PHB",
  "tags": []
}